c-wiz,
.aDrCHe,
.wv3SK
{
    background-color: #252525;
    color: white !important;
}

.T4LgNb, div.eWeGpe,
div.ldf2Je, div.rJSq7e,
a[class="X4Ebjb"],
div[role="button"],
div[role="presentation"],
div.VGALGe,
div.ALlaKf,
div.BN0lkd
{
    background-color: #252525;
    color: white !important;
}

.gb_8e,
input,
.d5Ncgc,
.dq2Yed,
.c7fp5b,
.oG0wpe,
.Ut8Gr,
.MBPL8b,
div[role="button"],
div[role="navigation"],
span.PGfkhc,
.gb_1d
{
    background-color: #252525;
    color: white !important;
}

div[class="yhFgtf"],
div[class="QH3hte"],
c-wiz.zQTmif {
    color: #5797f1 !important;
}
