div.tableOut:nth-child(7) > table:nth-child(1) 
{
    width: 100%;
    
}

.socialIconBox {
 display: none !important;
}

.leftPartInner {
    padding: 0;
    width: 100%;
    float: none;
}
.rightPartShadow {
    display: none !important;
}

/* #innerContent 
{
    min-width: 100%;
    margin-left: 0px !important;
}
 .container {
    margin-left: 10px !important;
    margin-right: 10px !important;
    width: 100% !important;
}

.tableOut {
 font-weight: 100;
min-width: 1100px !important;
} */
