@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

@namespace url(http://www.w3.org/1999/xhtml);


body {
    background-color: #171717 !important;
}

body > center > table {
    background-color: #171717 !important;
    margin: 0 100 !important;
    max-width: 75%;
}

body > center > table > tbody > tr:first-child > td {
    background-color: #111544 !important;
    border-radius: 25px;
    padding: 0 25;
}

/* Title */
td.title a:link,
td.title {
    font-family: noto sans jp, comic sans ms !important;
    font-size: 1.2em !important;
    text-decoration: none !important;
    color: #c1c1c1 !important;
    background: none;
}
code {
    font-family: Fira Code, "Courier New", Courier, monospace !important;
    font-size: inherit;
    color: #c8c8c8 !important;
    background-color: #282828cf !important;
}

select {
    background: #232e45;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif !important;
}

/* input button */
input {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif !important;
    border-radius: 5%;
    padding: 8px;
    border: black;
}

[type="submit"],
[class="morelink"] a {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
    font-variant: all-small-caps;
    background: #3f434a;
    color: #e7ecff;
}
[type="submit"]:hover {
    background-color: #2d426e !important;
    color: #ffffffe8;
    transition: ease-in 0.2s;
    border-radius: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .29);
}

#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) {
    display: none !important;
}

textarea {
    border: 0.5px solid black !important;
    background: #232e45;
    font-family: open sans;
    color: #c1c1c1;
}

[class="comhead"],
a.hnuser {

    font-family: Open Sans !important;
    cursor: default;
}

/*  subtext */
.subtext,
td.subtext a,
span.score,
td.subtext {
    font-size: 12px !important;
    color: #6f7b9b !important;
    font-family: open sans;
    cursor: default;
    width: 800px;
    font-weight: 300 !important;
    text-transform: uppercase !important;
    letter-spacing: 1;
    padding-bottom: 50 !important;
}

td.title,
td.subtext {
    line-height: 1.2em !important;
    padding-bottom: 5;
}

.subtext a:hover {
    cursor: no-drop;
    text-decoration: none !important;
}

a.hnuser:hover {
    color: #557de6 !important;
    font-weight: bold;
    cursor: default;
    text-transform: uppercase;
    text-decoration: none;
}

.comment p > a,
[rel="nofollow"] {
    font-family: Open Sans !important;
    overflow: visible;
    text-decoration: none !important;
}
.reply a {
    color: #c6c6c6 !important;
}

b {
    color: #eee;
}

[src="yc500.gif"] {
    filter: invert(0.8)
}

#hnmain {
    width: 100%;
}

a:visited,
a,
[href="forgot"] {
    color: #81b5ee !important;
    text-shadow: none !important;
}

::selection {
    color: #232e45;
    background: #fafafa;
    text-decoration: none !important;
    text-shadow: none !important;
}

/* comments */
.cce,
.text,
.cbe,
.c00,
.c5a,
.c73,
.c9c,
.c88,
.cdd,
.cae,
td > p,
p,
tbody td,
body > b:nth-child(8),
body > b:nth-child(1) {
    font-family: 'Noto Sans JP', Garamond, Georgia, "Times New Roman", Times, serif !important;
    font-size: 16px !important;
    color: #c6c6c6d9 !important;
}

[action="login"],
[href="forgot"],
body > b:nth-child(8),
body > b:nth-child(1) {
    padding-left: 40%;
    padding-right: 40%;
}


[class="yclinks"],
span.rank {
    display: none;
}

#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1),
span.pagetop,
.pagetop,
.pagetop a,
.pagetop a:visited {
    font-weight: 300;
    font-variant-caps: all-small-caps;
    color: #e8e8e8 !important;
    font-family: open sans !important;
    margin: 20 0;
}

td.title a:link:hover,
a:visited:hover,
.pagetop a:hover {
    color: #a7c2ec !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
    border-radius: 5px !important;
    transition: ease-in;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.votearrow {
    display: none;
}
