@namespace url(http://www.w3.org/1999/xhtml);

body {
    background-color: #171d28 !important;
    }


body > center > table, input, textarea {
    background-color: #0e162385 !important;
}

body > center > table > tbody > tr:first-child > td {
    
    background-color: #00010385 !important;
    }

span.pagetop
{
    font-family: Roboto !important;
    font-size: 0.9em !important;
    padding: 2px !important;;
    color: #515151 !important;
}

/* Bright text */
td.title a:link, span.yclinks a:link, body:not([id]), td:nth-child(2):not(.subtext) > a:link, input, p > a:link, a > u, span.comment font, span.comment font a:link, a[href="http://www.ycombinator.com/apply/"]
{
    font-family: Calibri !important;
    font-size: 1.4em !important;
    font-weight: 600 !important;
    margin-left: 0.em !important;
    color: #ebebeb !important;
}

/* //comments */
.c00,  .c5a, .c73, .c9c, .c88
{
    font-family: Roboto !important;
    font-size: 1.2em !important;
    color: #ececec !important;
    line-height: 100%;
    cursor: default;

}

/*  links in comments */
span.age, td.subtext, .subtext a, .comment a:link, .score
{
    font-size: 0.9em !important;
    padding: 0px !important;
    color: #767676 !important;
    font-family: Bahnschrift !important;
    font-weight: 200;
}

.pagetop a:hover, .subtext a:hover, .comment a:link:hover {
    font-size: 21px;
}

.admin td {
    color: #aaa !important;
}

a, span.comhead
{
    font-family: Bahnschrift !important;
    padding: 2px !important;
    font-size: 0.9em !important;    
    color: #b2b2b2 !important;    
}

a.hnuser
{
    font-family: Bahnschrift !important;
    font-size: 0.92em !important;
    padding: 0px !important;
    font-weight: 400;   
    color: #cdcdcded !important;
    background-color: #303030c7 !important;
}

code
{
    font-family: Courier New !important;
    font-size: 1.1em !important;    
    color: #fff !important;
    background-color: #2e2e2e !important; 
    padding: 0px !important;
    font-weight: 400;
}


/* search box and comment box */
input {
    font-family: Bahnschrift !important;
    font-weight: lighter;
    padding: 5px 5px 5px 5px !important;
    font-size: 0.8em !important;
    background-color: #141414 !important;
    border: 0.9em;
}

.votearrow:hover, input:hover {
    color: #66bcf0 !important;
    background-color: #16181c !important;
    cursor: pointer !important;
    border: 1.1em !important;
    }
.votearrow {
    margin-right: 0.8em !important;
}

textarea
{
    border: .5px solid !important;
    font-family: Verdana !important;
    font-weight: bold;
    line-height: 100% !important;
    font-size: 11px !important;
    padding: 5px !important;
    color: #b6b6b6;
    cursor: text;
    background-color: #000 !important;
}
span.rank{
    display:none;
}
