ytd-primetime-promo-renderer.style-scope, ytd-rich-section-renderer.style-scope:nth-child(14) > div:nth-child(1) > ytd-rich-shelf-renderer:nth-child(1) > div:nth-child(1), ytd-rich-section-renderer.style-scope:nth-child(19) > div:nth-child(1) > ytd-rich-shelf-renderer:nth-child(1) > div:nth-child(1) {
    display: none !important;
}


/*[class="style-scope ytd-comment-renderer"],*/
[slot="content"],
[class="bold style-scope yt-formatted-string"] {
    font-family: 'Roboto';
    font-size: 14px !important;
    line-height: 1.3em !important;
    font-weight: 400 !important;
}

[id="clarify-box"] {
    display: none;
}

[id="author-text"],
[class="published-time-text above-comment style-scope ytd-comment-renderer"],
ytd-button-renderer #button.ytd-button-renderer,
paper-button.yt-next-continuation,
a.yt-simple-endpoint.yt-formatted-string {
    color: #838383 !important;
    font-family: 'Roboto';
    font-size: 12px !important;
    text-transform: uppercase !important;
}

[id="author-thumbnail"] {
    display: none !important;
}
