@media only screen and (min-width: 1282px) {
    
/* v--- Toaster alert [SETTINGS] ---v */
    div[data-testid="toast"] {
        width: 990px;
        margin: 0 0 0 272px;
    }
    
    div[data-testid="toast"] > div > span {
        width: 970px;
        display: block;
    }
}

/* regex matching .*\://twitter.com/settings/.**/
